nav{
    display: block;
    position: relative;
    top: 0;
    background-color: #fff;
    width: 100%;
    height: 50px;
    font-family:'Arial', sans-serif;
    font-size: 13px;
    margin-bottom: 7px;

}

/* menü banner kısım */   

.boxone{
    position: absolute;
    height: 48px;
    width: 270px;
    right: 0px;
    top: 1px;
    padding: 10px 5px;
    line-height:1.5;
    padding-bottom: 1em;
}


ul{
    list-style-type:none;
    line-height: 50px;

}

ul li{
 float:left;
 margin-left:-15px;
}

ul li a{
  color:black;
  text-decoration:none;
  margin:auto;
  padding:0 13px;
  display:inline; 


}

ul li a:hover{
  text-decoration: underline;
}


.by{
    width:35px;
    border-radius:100%;
    margin-left:15px;
}


#center{
    align-items: center;
    text-align: center;
    background-color: #fff;
    font-family: 'Arial', sans-serif;
    height: 470px;
    margin:auto;
}

.logo img{
    max-width:100%;
    width: 300px;
    height: 92px;
}




/* google logo ve arama yeri  */   

.searchdiv{
    border: #dfe1e5 solid 1px;
    width: 582px;
    height: 44px;
    align-items: center;
    position: relative;
    background-color: #fff;
    margin: 0 auto;
    display: flex;
    z-index: 3;
    box-shadow: none;
    border-radius: 24px;
    margin-top: 25px;
    max-width:100%;
}

.searchdiv:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.searchinput{
    word-wrap: break-word;
    border: none transparent;
    outline: 0;
    height: 34px;
    width: 403px;
    max-width:100%;
    font-size: 16px;
    margin-left: 15px;
}

.btn{
    background-color: #f8f9fa;
    color: #3c4043;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    margin: 30px 4px;
    padding: 20px 16p;
    line-height: 27px;
    height: 36px;
    min-width: 130px;
    text-align: center;
    cursor: pointer;
    user-select: none;

}
.btn:hover{
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}



/* alt footer kısım  */


#footer{
    background-color: #f2f2f2;
}


.trk{
    padding: 15px 30px;
    font-size: 15px;
    color: #70757a;
    border-bottom: 1px solid #dadce0;
    height: 20px;
    
}

.bottom-footer{
    font-size: 15px;
    color: #70757a;
    width: 100%;
    height: 45px;
    position: relative;
}


.about{
    width: 35%;
    display: inline-block;
    position: absolute;
    left: 30px;
    padding-top: 12px;
}

.carbon{
    text-align: center;
    display: inline-block;
    align-items: center;
    width: 50%;
    position: absolute;
    left:510px;
    padding-top: 12px;
}   


.settings{
     
     font-size: 14px;
     font-family: 'Arial', sans-serif;
     color: #70757a;
     width: 15%;
     display: inline-block;
     position: absolute;
     right: 5px;
     padding-top: 12px;
}

.bottom-footer a{
    font-size: 14px;
    font-family: 'Arial', sans-serif;
    color: #70757a;
    padding: 15px 10px 5px;
    max-width:100%;
}

.leaf{
    height: 14px;
}

.carbon-link{
    font-family: 'Arial', sans-serif;
    color: #70757a; 
    font-size: 14px;
    width: 15%;
    display: inline;
    
}